## Exploratory Data Analysis

### Imports

In [1]:
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O
import numpy as np # data structures, mathematical functions
import matplotlib.pyplot as plt # data visulation and ploting
import seaborn as sns # data visulation and ploting

from sklearn.preprocessing import StandardScaler #scale each feature/varibale to unit variance

from save_utils import save_file

### Load The Credit Card Data

In [2]:
credit_data = pd.read_csv('credit_data_cleaned.csv')

In [3]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37097 entries, 0 to 37096
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   AcountNumber               37097 non-null  int64
 1   CVV                        37097 non-null  int64
 2   CustomerAge                37097 non-null  float64
 3   Gender                     37097 non-null  object
 4   MaritalStatus              37097 non-null  object
 5   CardColour                 37097 non-null  object
 6   CardType                   37097 non-null  object
 7   Domain                     37097 non-null  object
 8   Amount                     37097 non-null  int64
 9   AverageIncomeExpendicture  37097 non-null  int64
 10  Outcome                    37097 non-null  int64
 11  Customer_City_Address      37097 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 3.4+ MB

In [4]:
credit_data.head()

,AcountNumber,CVV,CustomerAge,Gender,MaritalStatus,CardColour,CardType,Domain,Amount,AverageIncomeExpendicture,Outcome,Customer_City_Address
0,1275734409,364,28.0,Male,Married,Gold,Verve,Local,129282,170919,0,Enugu
1,1271246193,401,25.0,Male,Single,Gold,Verve,International,574384,329353,1,Enugu
2,1242290165,266,21.0,Female,Married,White,Visa,International,190766,292922,0,Enugu
3,1245478185,402,26.0,Male,Unknown,White,Visa,Local,130395,145444,0,Ibadan
4,1258212072,334,28.0,Female,Married,Gold,Verve,International,685145,295990,1,Port Harcourt